@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", serif;
    background-image: linear-gradient(rgba(21, 20, 71, .926), rgba(27, 13, 89, 0.96)),url('https://image.tmdb.org/t/p/w500/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    max-width: 996px;
    margin: 0 auto;
}
header ul {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li {
    list-style: none;
}
header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.logo {
    width: 240px;
    cursor: pointer;
}
.logo img {
    width: 100%;
}
.logo-primary {
    color: #03c213;
}
/* hero */
.hero {
    width: 100%;
    max-height: 100vh;
}
.container-hero {
    max-width: 996px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.hero-img {
    max-width: 50%;
    padding-left: 60px;

}
.hero-img img {
    width: 100%;
    border-radius: 10px;
}
.hero-text {
    max-width: 50%;
}
.hero-text h1 {
    font-size: 40px;
    color: #fff;
    padding-bottom: 15px;
}
.hero-text .adds {
    color: #03C213;
}
.hero-text p {
    font-size: 18px;
    color: #9f9f9f;
    padding-bottom: 15px;
}
.hero-text .watch {
    padding: 10px 20px ;
    background-color: #03C213;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    margin-top: 15px;
    text-align: center;
}
.hero-text .watch:hover {
    background-color: white;
    color: #03C213;
}
header .menu {
    width: 22px;
    height: auto;
    display: none;
}
/* header & hero sectio responsiveness */
@media(max-width: 768px) {
    header .h-watch {
        display: none;
    }
    header .menu {
        display: block;
    }
    header ul {
        width: 100%;
        padding: 10px 15px;
    }
    .logo {
        width: 140px;
        cursor: pointer;
    }
    .container {
        width: 100%;
    }
    .hero {
        min-height: 100vh;
        padding-top: 10%;
    }
    .container-hero {
        display: flex;
        flex-direction: column-reverse;
        margin: 20px auto;
    }
    .hero-img {
        display: none;
    }
    .hero-text h1 {
        font-size: 40px;
        color: #fff;
        padding-bottom: 15px;
        text-align: left;
    }
    .hero-text p {
        text-align: left;
        font-size: 18px;
        color: #9f9f9f;
        padding-bottom: 15px;
    }
}
.title {
    color: #fff;
    margin: 2rem 0;
}
.movie-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px 10px;
}
/* mos popular section responsiveness */
@media(max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .movie-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px 10px;
        margin: 0 auto;
    } 
}
.movie-container .movie {
    position: relative;
    width: 320px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #41317a;
    border-radius: 5px;
    padding: 5px;
}
.movie-container .movie img {
    max-height: 400px;
    width: 100%;
    height: 350px;
    border-radius: 5px;
    display: block;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
}
.movie-container .movie .info {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.movie-container .movie .info .counts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.movie-container .movie .info .movie-title {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 20px 10px;
}
.vote-average {
    background-color: #2da515;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
}
.release-date {
    background-color: #2da515;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}
/* footer */
.footer {
    margin-top: 50px;
    background-color: #41317a;
    padding: 3% 0;
}
.f-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
}
.f-text {
    max-width: 50%;
    /* margin: 0 auto; */
    color: rgb(175, 175, 175);
}
.f-logo {
    width: 340px;
}
.f-logo img {
    width: 100%;
}
.footer .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.footer .social img {
    width: 20%;
    background-color: #03C213;
    padding: 5px;
    border-radius: 5px;
}
@media(max-width: 768px) {
    .f-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 960px;
        margin: 0 auto;
        padding: 10px 0;
    }
    .f-text {
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .f-logo {
        width: 240px;
        margin: 0 auto;
    }

}